:root {
    /* color */
    --primary_color: #0A6847;
    --secondary_color:#7ABA78;
    --light_gray:#D9D9D9;
    --primary_green:#0C6042;
    --white:#fff;
    --primary_yollow: #F3CA52;
    --text_gray:#505050;
    --gary_bg:#ededed;
    /* fonts */
    --open_sans:"Open Sans", sans-serif;
    --inter:"Inter", sans-serif;
}


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   font-family: var(--open_sans)
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}

.bb {
    border: 2px solid red;
}
.navbar {
    background-color: var(--primary_color);
   
}

.nav_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 96px;
    gap: 20px;
}
.rest_name {
    font-weight: 500;
    font-size: 25px;
    color: var(--white);
    font-family: var(--inter);
    max-width: 400px;
    text-align: center;
}
.main_button {
   font-weight: 700;
   font-size: 20px;
   color: var(--primary_color);
   background-color: var(--primary_yollow);
   padding: 7px 20px;
   border-radius: 10px;
   border: none;
   box-shadow: 0 0 5px var(--primary_yollow);
   transition: all .3s ease-in;
}
.main_button_2 {
    font-weight: 700;
    font-size: 20px;
    color: var(--primary_color);
    background-color: transparent;
    padding: 7px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 5px var(--primary_color);
    border: 2px solid var(--primary_color);
    transition: all .3s ease-in;
 }
 .nav_button {
    display: flex;
    gap: 10px;
 }
 .main_button_2:hover {
    color: var(--white);
   background-color: var(--primary_color);
   box-shadow: none;
 }
 .hero_button {
    display: flex;
    gap: 20px;
 }
.main_button:hover {
    background-color: var(--light_gray);
}
.nav_img {
    width: 100%;
    max-width: 125px;
}
.bottom_bar {
   width: 100%;
   display: flex;
   justify-content: center;
   position: absolute;

}

.social_container {
    background-image: url(assets/bottom_bar_bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    align-items: center;
    width: fit-content;
   gap: 30px;
   padding: 10px 174px;
}

.hero_section {
    margin: 135px 0;
}

.hero_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.hero_left,
.hero_right {
    width: calc(50% - 10px);
}
.hero_img {
    width: 100%;
    border-radius: 10px;
}
.hero_heading {
    font-weight: 900;
    font-size: 70px;
    line-height: 80px;
    color: var(--primary_green);
    text-transform: uppercase;
}

.hero_left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    
}

.menu_section {
    background-color: var(--secondary_color);
    
}
.mobile_navbar_logo {
    max-width: 120px;
}
.menu_container {
    padding: 100px 0; 
    text-align: center;
}
.menu_heading {
    font-family: var(--open_sans);
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: var(--primary_yollow);
    text-align: center;
    padding: 10px 0 9px;
    background-image: linear-gradient(to right, #0C604200 0%, #0C6042 50% ,#0C604200  100%) ;
}

.menu_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.menu_card {
    border-radius: 20px;
    position: relative;
    width: 280px;
    transition: all 1s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}
.menu_card:hover .menu_img {
  transform: scale(1.2);
}
@keyframes cardRotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.menu_img{
    width: 100%;
    min-height: 280px;
    transition: all 1s ease-in-out;
}
.menu_texts {
    background-color: var(--primary_color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    text-align: center;
    border-radius: 20px;
    margin-top: -35%;
    z-index: 999;
    position: relative;
   
}
.menu_headline {
    font-size: 20px;
    line-height: 30px;
    font-weight: 900;
    color: var(--primary_yollow);
    text-transform: capitalize;
    padding: 10px 10px 15px;
}

.heading_desc {
    font-size: 14px;
    color: var(--white);
    padding: 14px;
}
.heading_bottom_border {
    width: 100px;
    height: 2px;
    background-color: var(--primary_yollow);
}

.menu_label {
  padding: 7px 7px 18px 7px;
  background-color: var(--primary_color);
  position: absolute;
  left: 27px;
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 51% 80%, 0% 100%);
  --webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 80%, 0% 100%);
  z-index: 999;
}

.price {
    font-weight: 700;
    font-size: 18px;
    color: var(--primary_yollow);
    text-align: center;
}

.contact_form_container {
    max-width:1020px;
    padding: 0 20px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.contact_form_heading {
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--primary_color);
}
.contact_us_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.inputs {
    display: flex;
    gap: 20px;
}

.input_left,.input_right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
}

.text_input ,.input_textarea {
    font-size: 22px;
    line-height: 26px;
    color: var(--text_gray);
    outline: none;
    border: none;
    background-color: var(--gary_bg);
    padding: 17px 20px;
    border-radius: 10px;
}

.input_textarea {
    height: 100%;
}

.form_submit_button {
    padding: 17px;
    border-radius: 10px;
    background-color: var(--primary_yollow);
    color: var(--primary_green);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: all .5s ease-out;
}
.form_submit_button:hover {
    background-color: var(--primary_green);
    color: var(--white);
}

.info_section {
    background-color: var(--primary_green);
    padding: 100px 0;
}
.info_container {
    display: flex;
    align-items: start;
    gap: 83px;
}
.timelines {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.timeline {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    gap: 28px;
    
    
}

.day_name {
    font-weight: 500;
    color: var(--primary_yollow);
    font-family: var(--inter);
}

.time {
    color: var(--white);
    font-family: var(--inter);
}

.info_heading {
    font-family: var(--inter);
    font-weight: 500;
    font-size: 40px;
    color: var(--white);
    text-align: center;
}

.diamond_bottom_border{
    width: 100%;
    height: 2px;
    background-color: var(--white);
    margin: 20px 0;
    position: relative;
}
.diamond_bottom_border::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--white);
    position: absolute;
    top: -5px;
    transform: rotate(45deg);
}
.diamond_bottom_border::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: var(--white);
    position: absolute;
    right: 0;
    top: -5px;
    transform: rotate(45deg);
}
.single_content {
    display: flex;
    gap: 15px;
}

.simgle_content_icon {
    width: 21px;
    height: 21px;
}

.single_content_text {
    font-weight: 500;
    font-size: 20px;
    color: var(--white);
    justify-content: start;
   align-items: baseline;
   /* text-align: justify; */
}

.info_texts {
    max-width: 320px;
}

.info_map {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}
.map_iframe {
    width: 100%;
    min-height: 417px;
    margin-bottom: -5px;
}

.place_name {
    font-family:var(--inter);
    font-weight: 500;
    font-size: 32px;
    padding: 31px 0 30px;
    background-color: var(--primary_yollow);
    text-align: center;
    color: var(--primary_green);
    margin-top: 0;
    
}
.footer_top {
    background-image: url(./assets/footer_top_full_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_top_container {
    max-width: 773px;
    margin: 0 auto;
    padding: 110px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer_top_heading {
    font-size: 60px;
    font-weight: 700;
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
}

.footer_button {
    padding: 10px 20px;
}
.main_footer {
    background-color: var(--primary_green);
    padding: 50px 0;
}
.footer_container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_footer_img {
    width: 100%;
    max-width: 150px;
}
.footer_socials {
    display: flex;
    gap: 45px;
}
.footer_social_img {
    height: 39.52px;
    transform: all .5s ease-in;
}
.footer_social_img:hover  {
    transform: scale(1.1);
}
.social_img {
    width: 26px;
    transform: all .5s ease;
}

.social_img:hover {
    transform: scale(1.1);
}
.mobile_only {
    display: none;
}

.mobile_navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
   
}
.mobile_navbar_sitename {
    font-family: var(--inter);
    font-weight: 500;
    font-size: 24px;
    color: var(--white);
}
.mobile_navbar {
    background-color: var(--primary_color);
}
.hambergure_menu {
    background-color: transparent;
    color: var(--primary_yollow);
    border: none;
    font-size: 30px;
}

/* Overlay for blur effect */
.overlay {
    display: none; /* Hide overlay by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blur effect */
    z-index: 9999999999; /* Behind the popup */
}

/* Popup menu */
.mobile_menu {
    display: none; /* Hide menu by default */
    position: fixed; /* Position fixed to stay in place */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half of its own size */
    background: var(--primary_yollow); /* Background color */
    padding: 20px; /* Padding for inner content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional shadow for a popup effect */
    border-radius: 8px 0 8px 0; /* Optional rounded corners */
    z-index: 99999999999; /* Ensure it stays on top */
}

.mobile_menu.show, .overlay.show {
    display: block; /* Show when toggled */
}

/* Hamburger menu */
.hamburger_menu {
    cursor: pointer;
    font-size: 24px;
}

/* Close button */
.close_button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.mobile_nav_button {
    background-color: var(--primary_color);
    color: var(--white);
}
.mobile_nav_button:hover{
    background-color: #505050;
}
.mobile_menu_container {
    width: 70vw;
    min-width: 270px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    z-index: 999999999999999999999999999999999;
    position: relative;
    
}

.hero_btn:hover {
    background-color:var(--primary_color);
    color:var(--white)
}









@media screen and (max-width: 991px) {
    .hero_button{
        flex-direction: column;
        text-align: center;
    }
    .pc_only {
        display: none;
    }
    .mobile_only {
        display: block;
    }
    .hero_container {
        flex-direction: column;
    }
    .hero_section {
        margin: 50px 0;
    }
    .hero_left {
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .hero_heading {
        text-align: center;
        font-size: 50px;
        line-height: 50px;
    }
    .inputs {
        flex-direction: column;
        gap: 10px;
    }
    .input_left,.input_right {

        gap: 10px;
      
    }
    .contact_form_container  {
        margin: 30px auto;
        gap: 20px;
    }
    .info_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .info_texts {
        max-width: fit-content;
    }
    .map_iframe,.info_map {
        width: 100%;
        height: 300px;
    }
    .menu_img {
        height: 375px;
    }
    .info_section {
   
        padding: 50px 0;
    }
    .place_name {
      
        font-size: 20px;
        padding: 15px;
       
    }
    .footer_top_heading {
        font-size: 32px;
    }
    .footer_top_container {
        gap: 20px;
        padding: 50px 20px;
    }
    .footer_container {
        flex-direction: column;
        gap: 20px;
    }
    .menu_container {
        padding: 50px 0;
    }
    .menu_heading ,.contact_form_heading ,.info_heading{
        font-size: 30px;
    }
    .menu_cards {
        margin-top: 20px;
    }
    .footer_socials {
        gap: 10px;
    }
    .main_footer {
        padding: 20px 0;
    }
    .timeline,.single_content_text,.single_content_text {
        font-size: 17px;
        text-align: center;
    }
    .single_content {
        justify-content: center;
    }
    .map_iframe {
        min-height: 300px;
    }
    .text_input,.input_textarea {
        font-size: 18px;
        line-height: 20px;
       
        padding: 13px 15px;
    }
    .hero_btn {
        width: 90vw;
        display: block;
        text-align: center;
    }
    .input_textarea {
        min-height: 150px;
    }
    .hero_left, .hero_right {
        width: 100%;
    }
    
}

@media screen and (max-width: 880px) {
    .menu_card {
        width:calc(50% - 50px);
    }
    
}
@media screen and (max-width: 620px) {
    .menu_card {
        width:90%;
       }
    .menu_img {
        height: 300px;
    }
}
@media screen and (max-width: 500px) {
   
    .mobile_navbar_logo {
        max-width: 100px;
    }
   .main_button {
    font-size: 17px;
   
    display: block;
    text-align: center;
   }
   
   .hero_right {
    width: 95%;
}
}